@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    font-family: 'Merriweather', serif;
}

header{
    padding: 1rem;
    text-align: center;
    background-color: antiquewhite;
    display: inline;
    /*Changing to grid-column sticks other elements in grid permanently*/
}

.container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

h2{
    background-color: rgb(191, 219, 210);
}

section{
    padding: 1rem;
}

.card{
    border: 3px solid gray;
    border-radius: 5px;
    background-color: rgb(184, 209, 230);
    margin: auto;
}

.card p{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px;
}

@media screen and (min-width: 600px){
    header{
        display: flex;
        justify-content: center;
    }

    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px){
    header{
        display: flex;
        justify-content: center;
    }

    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}