@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
    --primary-color: #00487C;
    --secondary-color: #f5904d;
    --accent-1: #93B7BE;
    --accent-2: #F1FFFA;
    --accent-3: #D5C7BC;
    --headerfont: Caveat, 'Times New Roman', 'Sans Serif';
}

#header-container {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    font-family: var(--headerfont);
    background-color: var(--primary-color);
    text-align: center;
}

header h1 {
    color: var(--accent-2);
    margin-left: auto;
}

header a{
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: var(--accent-1)
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-left: auto;
    font-family: var(--headerfont);
}

#cta {
    background-color: var(--primary-color);
    color: var(--accent-1);
    border: none;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    padding: 8px;
}

#cta:hover {
    background-color: var(--accent-1);
    color: var(--primary-color);
}

@media screen and (min-width: 480px){
    header {
        flex-direction: row;
    }

    header a{
        display: flex;
        margin: auto;
        text-align: center;
        font-size: 32px;
        color: var(--accent-1)
    }

    #header-container {
        width: 100%;
    }
}