@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
    --primary-color: #00487C;
    --secondary-color: #f5904d;
    --accent-1: #93B7BE;
    --accent-2: #F1FFFA;
    --accent-3: #D5C7BC;
    --headerfont: Caveat, 'Times New Roman', 'Sans Serif';
}

#header-container {
    width: 100%;
}

header {
    font-family: var(--headerfont);
    background-color: var(--primary-color);
    text-align: center;
}

header h1 {
    color: var(--accent-2);
    margin-left: auto;
}

header a{
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: var(--accent-1)
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-left: auto;
    font-family: var(--headerfont);
}

#cta {
    background-color: var(--primary-color);
    color: var(--accent-1);
    border: none;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    padding: 8px;
}

#cta:hover {
    background-color: var(--accent-1);
    color: var(--primary-color);
}

#hero{
    display: flex;
}

#hero button {
    margin: auto;
}

#hero-img{
    justify-content: center;
    align-self: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--primary-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dark-mode {
    background-color: black;
    color: white;
}

/* ham menu */
#menu{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    display: inline;
}

#menu::before{
    content:"≡";
}

#menu.show::before{
    content:"X";
}

.nav-menu a{
    display: none;
    color: var(--accent-1);
    font-size: 28px;
    padding: 10px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.show a{
    display: block;
}

#discover{
    display: grid;
    grid-template-columns: 450px 1fr;
    padding-top: 10px;
    justify-content: center;
}

#sidebar div{
    padding: 10px;
    grid-column: 1/2;
    width: 450px;
    border: black solid 2px;
}

#imgs{
    display: grid;
    grid-column: 2/3;
    justify-items: center;
}

#imgs img{
    margin: auto;
    padding: 30px;
    transition: 0.3s;
}

#imgs img:hover{
    background-color: rgb(180, 180, 180);
    opacity: 0.3;
}

#imgs p{
    font-family: var(--headerfont);
    font-size: 24px;
}

/*-----------Start join.html--------------*/

.membership fieldset{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    max-width: 50%;
    border: solid 3px black;
    border-radius: 6px;
    margin: 20px auto auto auto;
    font-size: 24px;
}

.membership legend{
    font-style: italic;
}

.membership label{
    font-size: 18px;
    color:#1f6ea7;
}

.membership input[type="text"],
.membership input[type="email"],
.membership input[type="tel"]{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 10px 0;
    background-color: #eee;
    border: solid thin #bbb;
    border-radius: 6px;
    padding: 0.75rem;
    width: 100%;
    max-width: 400px;
    font-size: 18px;
}

.membership input:placeholder-shown,
.membership textarea:placeholder-shown{
    font-style: italic;
}

.radio-line{
    margin: 10px 0;
    font-size: 18px;
    color:#1f6ea7;
}

.radio-line label{
    margin-top: 10px;
    display: flex;
}

.membership input[type="radio"]{
    margin-bottom: 2px;
    margin-right: 8px;
    display: block;
}

.membership textarea{
    display: block;
    margin-top: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    min-height: 150px;
    border: solid thin #bbb;
    border-radius: 6px;
    padding: 8px;
    resize: none;
    font-size: 18px;
}

.membership button{
    border: none;
    background-image: linear-gradient(#037ed6, var(--primary-color));
    color: #fff;
    border-radius: 6px;
    padding: .75rem;
    width: 96%;
    max-width: 400px;
    cursor: pointer;
    font-size: 24px;
    font-family: var(--headerfont);
    margin: 20px 0 0 0;
}

.membership button:hover{
    background-image: linear-gradient(var(--primary-color), #037ed6);
}

/* media queries start */
@media screen and (min-width: 375px){
    .nav-menu {
        flex-direction: row;
    }

    .nav-menu a{
        display: flex;
        margin: auto;
        text-align: center;
        font-size: 32px;
        color: var(--accent-1)
    }

    #header-container {
        width: 100%;
    }

    #menu{
        display:none;
    }
}