@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    display: block;
}

header{
    background-color: royalblue;
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#me{
    grid-column: 1/2;
    height: auto;
    width: auto;
}

nav{
    background-color: black;
    margin-bottom: 20px;
}

nav a{
    color: white;
    font-size: 28px;
    margin-top: 200px;
    margin-bottom: 20px;
}

nav ul li{
    margin: 10px;
}

main{
    margin: 35px;
}

main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card{
    margin: 35px;
    border: 3px solid black;
    border-radius: 10px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    border: 3px solid black;
    border-radius: 10px;
}