@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    display: block;
}

header{
    background-color: royalblue;
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#me{
    grid-column: 1/2;
    height: auto;
    width: auto;
}

#home{
    margin: 35px;
    text-align: center;
}

#home ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.card{
    margin: 35px;
    border: 3px solid black;
    border-radius: 10px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

#menu{
    display: inline;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

#menu::before{
    content:"≡";
}

#menu.show::before{
    content:"X";
}

.navigation{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
}

.navigation a{
    display: none;
    color: white;
    font-size: 28px;
    padding: 10px;
}

.show a{
    display: block;
}

iframe{
    width: auto;
}

.hero {
    margin: auto;
    position: relative;
}

#temple{
    position: absolute;
	top: 0px;
	left: 120px;
	padding: 1.5rem;
    font-size: 36px;
    color: white;
    text-shadow: white 1px 0 10px;
}

/*-------Begin form.html CSS-------------*/

.form-practice input[type="text"],
.form-practice input[type="password"],
.form-practice input[type="email"],
.form-practice input[type="range"]{
    margin: 5px 0;
    display: block;
    width: 100%;
    max-width: 410px;
}

.form-practice input[type="submit"]{
    margin: 5px 0;
    display: block;
}

#range-value{
    display: flex;
    margin: 0 0 0 2px;
	width: 440px;
}

#range-value option{
    flex: 0.8 0.8 auto;
}

#message{
    display: none;
}

#message.show{
    color: red;
    display: block;
    margin: 5px 0;
}

@media screen and (min-width: 501px){
    .navigation{
        flex-direction: row;
    }

    .navigation a{
        display: block;
        flex: 1 1 100%;
    }

    .card a{
        text-align: center;
    }

    #menu{
        display: none;
    }

    iframe{
        width: 500px;
    }
}